<ng-container *ngIf="form">
    <div>
      <mat-label>Motor Type</mat-label><br>
      <mat-radio-group [formControl]="form.controls.motorType" class="radio-buttons-group">
        <mat-radio-button value="1">fuel</mat-radio-button>
        <mat-radio-button value="2">electric</mat-radio-button>
      </mat-radio-group>
      <mat-error class="mat-error" *ngIf="form.controls.motorType.hasError('required') ">Please! Select car motor type</mat-error>
    </div>
    <div>
      <app-color-picker [label]="'Color'" [control]="form.controls.color" ></app-color-picker>
    </div>
    <div>
      <mat-label>Seats {{form.controls.seats.getRawValue()}}</mat-label>
      <mat-slider [formControl]="form.controls.seats"
                  thumbLabel
                  [max]="maxSeatsNumber"
                  [min]="minSeatsNumber"
                  [step]="1">
      </mat-slider>
    </div>
  <div>
    <button class="submit-button" type="submit" mat-raised-button>submit</button>
  </div>
</ng-container>
