<ng-container *ngIf="form">
    <div>
      <mat-radio-group [formControl]="form.controls.motorType">
        <mat-radio-button value="1">fuel</mat-radio-button>
        <mat-radio-button value="2">electric</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <app-color-picker [label]="'Color'" [control]="form.controls.color" ></app-color-picker>
    </div>
    <div>
      <mat-label>Seats {{form.controls.seats.getRawValue()}}</mat-label>
      <mat-slider [formControl]="form.controls.seats"
                  thumbLabel
                  [max]="7"
                  [min]="2"
                  [step]="1">
      </mat-slider>
    </div>
  <div>
    <button type="submit" mat-button>submit</button>
  </div>
</ng-container>
