:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 15px;
}
.form-row.mobile, .form-row.tablet {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
