:root {
  --primary-700: #046277;
  --primary-600: #04728b;
  --primary-500: #1993b1;
  --primary-400: #1ca4c4;
  --primary-300: #23c4eb;
  --primary-200: #79e2fa;
  --primary-100: #9feafb;
  --primary-50: #d8f7fe;
  --secondary-900: #101319;
  --secondary-800: #202632;
  --secondary-700: #414d63;
  --secondary-600: #596988;
  --secondary-500: #7788a6;
  --secondary-400: #9ca8be;
  --secondary-300: #c1c8d7;
  --secondary-200: #dadee7;
  --secondary-100: #e6e9ef;
  --secondary-50: #f3f4f7;
  --red-900: #360b08;
  --red-800: #5a130e;
  --red-700: #7e1a15;
  --red-600: #b4261f;
  --red-500: #e4483e;
  --red-400: #e96960;
  --red-300: #eb7971;
  --red-200: #f09b94;
  --red-100: #f5bcb7;
  --red-50: #fbdddc;
  --white: #ffff;
  --green-900: #0c332d;
  --green-800: #15554b;
  --green-700: #1f7768;
  --green-600: #2da995;
  --green-500: #38ceb7;
  --green-400: #5ddcc8;
  --green-300: #7ce3d3;
  --green-200: #9ceade;
  --green-100: #bdf1e9;
  --green-50: #f3f9f8;
}
