:root {
  --primary-700: #046277;
  --primary-600: #04728b;
  --primary-500: #1993b1;
  --primary-400: #1ca4c4;
  --primary-300: #23c4eb;
  --primary-200: #79e2fa;
  --primary-100: #9feafb;
  --primary-50: #d8f7fe;
  --secondary-900: #101319;
  --secondary-800: #202632;
  --secondary-700: #414d63;
  --secondary-600: #596988;
  --secondary-500: #7788a6;
  --secondary-400: #9ca8be;
  --secondary-300: #c1c8d7;
  --secondary-200: #dadee7;
  --secondary-100: #e6e9ef;
  --secondary-50: #f3f4f7;
}
