<header class="header">
  <button class="menu-icon" (click)="matDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</header>
<mat-sidenav-container>
  <mat-sidenav #matDrawer mode="over" class="side-nav-content" >
    <mat-action-list>
      <button mat-list-item [routerLink]="['/dashboard']" (click)="matDrawer.close()">dashboard</button>
      <button mat-list-item [routerLink]="['/car']" (click)="matDrawer.close()">find car</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="view-module">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer class="footer">
  <span>fadilariad@gmail.com</span>
</footer>
