:host {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section {
  display: flex;
  gap: 50px;
}

.card-title {
  margin-bottom: 15px;
}

