<form class="form" [formGroup]="choiceCarForm" (submit)="onSubmit()" appMediaClass>
  <ng-container *appMedia="['desktop']">
    <mat-card>
      <mat-card-title class="card-title">Hobbies</mat-card-title>
      <mat-card-content>
        <app-hobbies (onChange)="selectedHobbies = $event"></app-hobbies>
      </mat-card-content>
    </mat-card>
    <section>
      <mat-card>
        <mat-card-title class="card-title">User Details</mat-card-title>
        <mat-card-content>
          <app-user-details [form]="choiceCarForm"></app-user-details>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title class="card-title">Car Details</mat-card-title>
        <mat-card-content>
          <app-car-details [form]="choiceCarForm"></app-car-details>
        </mat-card-content>
      </mat-card>
    </section>
  </ng-container>

  <ng-container *appMedia="['tablet', 'mobile']">
    <mat-card>
      <mat-card-title class="card-title">User Details</mat-card-title>
      <mat-card-content>
        <app-user-details [form]="choiceCarForm"></app-user-details>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="card-title">Hobbies</mat-card-title>
      <mat-card-content>
        <app-hobbies class="tablet" (onChange)="selectedHobbies = $event"></app-hobbies>
      </mat-card-content>
    </mat-card>
    <mat-card>
    <mat-card-title class="card-title">Car Details</mat-card-title>
    <mat-card-content>
      <app-car-details [form]="choiceCarForm"></app-car-details>
    </mat-card-content>
    </mat-card>
  </ng-container>
</form>
