:host {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 18px;
}

.gender-buttons{
  max-height: 40px;
  margin-top: 5px;

}


